/* TotalPatients.module.css */

.listContainer {
    margin-top: 20px;
}

.totalPatientsList {
    list-style-type: none;
    padding: 0;
}

.totalPatientsList li {
    padding: 15px;
    border-bottom: 1px solid #eee; /* Lighten the border color */
    transition: background-color 0.3s; /* Add transition effect */
}

.totalPatientsList li:hover {
    background-color: #f5f5f5; /* Light background color on hover */
}

.totalPatientsList li:last-child {
    border-bottom: none;
}
